.auth_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: clamp(16px, 5vw, 42px);
    background-color: #d9d9d9;
    border-radius: 44px;
    width: 350px;

    > h1 {
      color: black;
    }

    .field_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      width: 100%;

      .authInput {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .button_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      width: 100%;

      .authButton {
        background-color: #c70106;
        color: white;
        padding: 12px 52px;
      }

      .authSwitchButton {
        background: none;
        padding: 0;
        text-decoration: underline;
      }
    }

    .error {
      align-self: flex-start;
      color: rgb(201, 13, 13);
      font-size: 12px;
      margin-top: -20px;
    }
  }

  .back_error {
    color: rgb(186, 22, 22);
    font-size: 14px;
    margin-bottom: -20px;
    font-weight: 600;
  }
}
